{% extends 'base.html' %}
{% load static %}

{% block title %} Sign OUT {% endblock %}

{% block content %}
  <div class="page-header align-items-start min-vh-100" style="background-image: url('{% static 'img/door2.jpg' %}');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="h3">Thank you that you was with us...</h1>
                                <p class="text-gray">You have been logged out.</p>
                            </div>
                            <div class="mt-5">
                                <div class="d-grid mt-3">
                                    {% if user.is_authenticated %}
                                      <a href="{% url 'catalog:index' %}" class="btn bg-gradient-primary w-100 my-4 mb-2">Go to site</a>
                                  {% else %}
                                      <a href="{% url 'login' %}" class="btn btn-gray-800">Log in again</a>
                                      <a href="{% url 'catalog:index' %}" class="btn btn-gray-800">Go to site</a>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>
  </div>
