{% extends 'base.html' %}
{% load static %}

{% block title %} AntalyaInfoPoint {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

</div></div></div>
<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/wall.jpg' %}')">
    <span class="mask bg-gradient-primary opacity-1"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Welcome to Antalya</h1>
          <p class="lead text-white mt-3">
            Here you will find important, necessary, interesting offers for the city of Antalya.
            <br/>
{#            Here you will find important, necessary, interesting offers for the city of Antalya. #}
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n8">

<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto py-3">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span>4</span>+</h1>
              <h5 class="mt-3"><a href="{% url 'catalog:service-list' %}">Services</a></h5>
              <p class="text-sm font-weight-normal">By clicking here, you will find the main service areas</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span>40</span>+</h1>
              <h5 class="mt-3"><a href="{% url 'catalog:offer-list' %}"> Offers</a></h5>
              <p class="text-sm font-weight-normal">Here you can find a lot of different offers</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span>30</span>+</h1>
              <h5 class="mt-3"><a href="{% url 'catalog:author-list' %}"> Specialists</a></h5>
              <p class="text-sm font-weight-normal">Here you can find list of our specialists</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-5 py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
        <div class="rotating-card-container">
          <div class="card card-rotate card-background-mask-dark mt-md-0 mt-2">
            <div class="front front-background" style="background-image: url('{% static 'img/door2.jpg' %}'); background-size: cover;">
              <div class="card-body py-7 text-center">
                <i class="material-icons text-white text-4xl my-3">touch_app</i>
                <h3 class="text-white">Feel like <br /> you're home</h3>
                <p class="text-white opacity-8">This website contains important info that can be useful when you just come to Antalya.</p>
              </div>
            </div>
            <div class="back back-background" style="background-image: url('{% static 'img/seaview1.jpg' %}'); background-size: cover;">
              <div class="card-body pt-7 text-center">
                <h3 class="text-white">Discover More</h3>
                <p class="text-white opacity-8"> Some important tips what you can visit when you just come to Antalya.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ms-auto">
        <div class="row justify-content-start">
          <div class="col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
              <h5 class="font-weight-bolder mt-3"><a href="{% url 'catalog:canyons' %}"> Canyons in Antalya</a></h5>
              <p class="pe-5">There are many breathtaking canyons around that can be visited by boat or on foot, such as Green Canyon, Sapadere Canyon and Goynuk Canyon...</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
              <h5 class="font-weight-bolder mt-3"><a href="#">Antalya beaches</a></h5>
              <p class="pe-3">The beaches of Antalya and the surrounding area are very diverse and differ from each other in many ways. In some places you will find solitude with nature, in others - round-the-clock fun and noise..</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-start mt-5">
          <div class="col-md-6 mt-3">
            <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
            <h5 class="font-weight-bolder mt-3"><a href="#">Warm springs of Antalya</a></h5>
            <p class="pe-5">There are 17 thermal resorts in Turkey. Wellness holidays are becoming increasingly popular among foreign tourists of all ages coming to this Asian country...</p>
          </div>
          <div class="col-md-6 mt-3">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
              <h5 class="font-weight-bolder mt-3"><a href="#">Hamam in Antalya</a></h5>
              <p class="pe-3">Hamam in Antalya is not just a sauna, it is a real part of Turkish culture, a tradition that goes back many hundreds of years.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}
